.coverage
auth.cfg
library-settings.txt
/docs/source/_screenshots/*.png
/develop-eggs
/eggs
/fake-eggs
/bin
/parts
/downloads
/var
/build
/local.cfg
*.egg-info/
*.egg
/.installed.cfg
*.pyc
*.codeintel
/.Python
/include
/lib
/.project
/.pydevproject
/.mr.developer.cfg
/src/plone.*
/src/collective.*
/src/templer.*
/src/sphinxcontrib*
/src/z3c.*
/omelette
/atd
node_modules/
*.nja
*.mo
docs/Makefile
docs/make.bat
docs/doctrees
docs/html
run-tests.sh
